@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*****GENERAL*****/
*{
    max-width: 1400px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    margin-block: 0;
}
body{
    margin: 0 55px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 1.4em;
    font-weight: 700;
    margin: 6px 0;
}
h2{
    font-size: 1.2em;
    font-weight: 700;
}
h3{
    font-size: 1em;
    font-weight: 700;
}
p{
    font-size: 0.85em;
    font-weight: 400;
    /* margin: 6px 0; */
}

/*****LOGO ET NAVIGATION*****/
.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}
.entete img{
    width: 4em;
    height: 1.3em;
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav li{
    font-size: 1em;
    padding: 2.5em 2em 2em 2em;
    border-top: solid 2px #0065fc00 ;
}

nav li:hover{
    border-top: solid 2px #0065fc ;
    
}
nav li a:hover{
    color: #0065FC;
}
/*****RECHERCHE*****/
.recherche{
    display: flex;
    margin: 1.5em 0;
}
.recherche input{
    width: 12em;
    height: 2.6em;
    border: none;
    padding-left: 0.5em;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
}
.recherche .gps{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 3.14em;
    width: 3.5em;
    border-radius: 10px 0 0 10px;
}
.btncherche{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    border: none;
    height: 2.75em;
    width: 8em;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}
.btncherche:hover{
    background-color: #0065fcc5;
}
.btncherche:active{
    background-color: #0065FC;
}

/*****FILTRES*****/
.filtres h2{
    padding: 0 40px 0 0
}
.filtres{
    display: flex;
    align-items: center;
}
.filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 75%; */
    align-items: center;
    
    
}
.icon i{
    color: #0065FC;
    margin-right: 0.5em;

}
.icon{
    border: solid 3px #f2f2f2;
    border-radius: 25px;
    padding: 10px 12px;
    font-weight: 700;
    font-size: 1.05em;
    margin-right: 2.5em;
}
.icon:hover{
    background-color: #deebff;
}

/*****INFO*****/
.info i{
    color: #0065FC;
    border: solid 3px #f2f2f2;
    border-radius: 50%;
    padding: 0.3em 0.6em;
    margin-right: 10px;
}
.info{
    margin: 30px 0;
}

/*****HEBERGEMENT ET POPULAIRE*****/

/*****HEBERGEMENT*****/

#bighebergement{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hebergement{
    width: 60%;
    background-color: #d9d9d95e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px;
}
.hebergement h1{
    margin-bottom: 40px;
    margin-left: 10px;
}
.hebergement h2{
    margin-top: 50px;
    margin-left: 10px;
}
.card{
    width: 225px;
    height: 187px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 3px white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    
}
.hebergement .card img{
    width: 100%;
    height: 7em;
    border-radius: 10px 10px 0 0;
    object-fit: cover ;
    
}
.star{
    color: #0065FC;
    font-size: smaller;
}
.grey{
    color: #f2f2f2;
    font-size: smaller;
}
.sixcard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5em;
}
.card h3, .card p, .star{
    padding-left: 8px;
}
/*****POPULAIRE*****/
.populaire{
    width: 25%;
    background-color: #d9d9d95e;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    margin: 0 10px 0 0;
}
.populaire h1{
    margin-bottom: 20px;
}
.bcardp{
    display: flex;
}
.cardp{
    flex: 95%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: solid 3px white;
    margin: 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.threecard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.threecard .cardp img{
    width: 40%;
    height: 9em;
    border-radius: 10px 0 0 10px;
    object-fit: cover ;
}
.text{
    width: 50%;
    height: 9em;
    display: flex;
    flex-direction: column;
    justify-content:space-around
}
.fivestar{
    display: flex;
    padding-top: 17%;
}
.titreicone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titreicone i{
    color: #0065FC;
}
.card:hover{
    background-color: #f2f2f2;
}
.cardp:hover{
    background-color: #f2f2f2;
}


/******ACTIVITE*****/

#activite{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 70px;
}
.fourcard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.pica{
    width: 22%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.pica img{
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0 0;
    object-fit: cover ;
}
.pica h3{
    padding: 10px 10px 10px 20px;
}
.pica:hover{
    background-color: #f2f2f2;
}

/*****FOOTER*****/
footer{
    padding: 20px 0 20px 20px;
    background-color: #f2f2f2;
}
.footer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.parafooter{
    margin-top: 10px;
}
.parafooter p{
    margin-bottom: 7px;
}
/****DESKTOP****/
@media screen and (max-width: 1400px){
    .loupe {
        display: none;
    }
} 



/******RESPONSIVE TABLETTE*****/

@media screen and (max-width: 992px){
    nav li:hover{
        border-top: unset;
        border-bottom: solid 2px #0065fc ;
    }
    body{
        margin: 20px;
    }
    .icon{
        font-size: 1em;
    }
    #bighebergement{
        flex-direction: column;
    }
    .hebergement{
        width: 94%;
        margin-bottom: 30px;
    }
    .populaire{
        width: 94%;
    }
    .threecard{
        flex-direction: row;
    }
    .cardp{
        width: 250px;
    }
    
    
}
    


/*****RESPONSIVE PORTABLE*****/

/*couleur test*/
@media screen and (max-width: 768px){
    body{
        background-color: rgb(134, 68, 136); /*Violet*/

    }
}
@media screen and (max-width:768px ) {
    body{
        margin: 0;
        padding: 0;
    }
/*******MQ NAV*****/
    .entete{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .entete nav{
       width: 100%;
    }
    .entete li{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav li{
        border-bottom: solid 2px #f2f2f228;
    }
    nav li:hover{
        border-top: unset;
        border-bottom: solid 2px #0065fc;
    }
    header h1, h2, p{
        margin-left: 10px;
    }
    /******MQ BARRE DE RECHERCHE*****/
    .recherche{
        justify-content: center;
        transform: translateX(5%)
        
    }
    .btncherche{
        display: none;
        visibility: hidden;
        
    }
    .loupe{
        background-color: #0065fc;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 3.75em;
        width: 4em;
        border: none;
        border-radius: 0 10px 10px 0;
        color: white;
    }
    .gps{
    padding: 0 5px;
    }
    /******MQ FILTRES*****/
    .filtres{
        flex-direction: column;
        align-items: flex-start;
    }

    /* .filtre{ */
        /* width: 200px; */
        /* font-size: 0.6em */
/* } */

    /******MQ HEBERGEMENT ET POPULAIRE******/
    #bighebergement{
        flex-direction: column-reverse;
    }
    .sixcard{
        display: flex;
        justify-content: center;
    }
    .hebergement{
        flex-direction: column;
        justify-content: center;
        background-color: unset;
        padding: 0;
    }
    .threecard{
        flex-direction: column;
        max-width: 500px;
        height: auto;
    }
    .hebergement h2{
        display: none;
    }

    /******MQ ACTIVITE*****/
    .fourcard{
        flex-direction: column
    }
    .pica{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}