@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*****GENERAL*****/
*{
    max-width: 1400px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    margin-block: 0;
}
body{
    margin: 0 55px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 1.4em;
    font-weight: 700;
    margin: 6px 0;
}
h2{
    font-size: 1em;
    font-weight: 700;
}
h3{
    font-size: 0.9em;
    font-weight: 700;
}
p{
    font-size: 0.85em;
    font-weight: 400;
    margin: 6px 0;
}

/*****LOGO ET NAVIGATION*****/
.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}
.entete img{
    width: 3.5em;
    height: 1.1em;
}
nav{
    width: 20em;
    height: 4em;
}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav li{
    font-size: 0.8em;
    padding: 1.8em;
}

nav li:hover{
    border-top: solid 2px #0065fc ;
    
}
nav li a:hover{
    color: #0065FC;
}
/*****RECHERCHE*****/
.recherche{
    display: flex;
    margin: 1.5em 0;
}
.recherche input{
    width: 12em;
    height: 2.6em;
    border: none;
    padding-left: 0.5em;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
}
.recherche .gps{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 3.14em;
    width: 3.5em;
    border-radius: 10px 0 0 10px;
}
.recherche .cherche{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    border: none;
    height: 2.75em;
    width: 8em;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}
.recherche .cherche:hover{
    background-color: #0065fcc5;
}
.recherche .cherche:active{
    background-color: #0065FC;
}

/*****FILTRES*****/
main div h2{
    padding: 0.2em 0.5em 0.2em 0;
    margin: 0.2em 0.5em 0.2em 0;
}
.filtres{
    display: flex;
    align-items: center;
}
.filtre{
    display: flex;
    flex-direction: row;
    
}
.icon i{
    color: #0065FC;
    width: 22px;
    height: 18.33px;
    padding: 5px;
}
.icon{
    border: solid 3px #f2f2f2;
    border-radius: 25px;
    padding: 0.3em 1.5em;
    margin: 0.5em 1.5em;
    font-weight: 700;
    font-size: 0.95em;
}
.icon:hover{
    background-color: #deebff;
}

/*****INFO*****/
.info i{
    color: #0065FC;
    border: solid 3px #f2f2f2;
    border-radius: 50%;
    padding: 0.3em 0.6em;
    margin-right: 10px;
}
.info{
    margin: 30px 0;
}

/*****HEBERGEMENT ET POPULAIRE*****/

/*****HEBERGEMENT*****/

#bighebergement{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hebergement{
    width: 60%;
    height: 30em;
    background-color: #d9d9d95e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px;
}
.hebergement h1{
    margin-bottom: 20px;
}
.hebergement h2{
    margin-top: 20px;
}
.card{
    width: 225px;
    height: 187px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 3px white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    
}
.hebergement .card img{
    width: 100%;
    height: 7em;
    border-radius: 10px 10px 0 0;
    object-fit: cover ;
    
}
.star{
    color: #0065FC;
}
.grey{
    color: #f2f2f2;
}
.sixcard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

/*****POPULAIRE*****/
.populaire{
    width: 25%;
    height: 30em;
    background-color: #d9d9d95e;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
}
.populaire h1{
    margin-bottom: 20px;
}

.cardp{
    width: 98%;
    height: 7.2em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: solid 3px white;
    margin: 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.threecard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.threecard .cardp img{
    width: 40%;
    height: 7em;
    border-radius: 10px 0 0 10px;
    object-fit: cover ;
}
.text{
    width: 50%;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content:space-around
}
.fivestar{
    display: flex;
    padding-top: 17%;
}
.titreicone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.titreicone i{
    color: #0065FC;
}
.card:hover{
    background-color: #f2f2f2;
}
.cardp:hover{
    background-color: #f2f2f2;
}


/******ACTIVITE*****/

#activite{
    display: flex;
    flex-direction: column;
    height: 420px;
    width: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}
.fourcard{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.pica{
    width: auto;
    height: 395px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.pica img{
    width: 260px;
    height: 350px;
    border-radius: 10px 10px 0 0;
    object-fit: cover ;
}
.pica h3{
    padding: 10px 10px 10px 20px;
}
.pica:hover{
    background-color: #f2f2f2;
}

/*****FOOTER*****/
footer{
    padding: 20px 0 20px 20px;
    background-color: #f2f2f2;
}
.footer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/****DESKTOP****/
@media screen and (max-width: 1400px) and (min-width:769px){
    .loupe {
        display: none;
        visibility: hidden;
    }
}



/******RESPONSIVE TABLETTE*****/

/*couleur test*/
@media screen and (max-width: 992px){
    body{
        background-color: rgb(72, 68, 136);

    }
}
@media screen and (max-width: 992px){
    nav li:hover{
        border-top: none;
        border-bottom: solid 2px #0065fc ;
    }
}


/*****RESPONSIVE PORTABLE*****/

/*couleur test*/
@media screen and (max-width: 768px){
    body{
        background-color: rgb(134, 68, 136); /*Violet*/

    }
}
@media screen and (max-width:768px ){

    .entete{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .entete nav{
       width: 100%;
    }
    .entete li{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav li:hover{
        border-top: none;
        border-bottom: solid 2px #0065fc ;
    }
    .recherche{
        justify-content: center;
        transform: translateX(5%)
        
    }
    .cherche{
        display: none;
        visibility: hidden;
    }
    .loupe{
        position: relative;
        transform: translateX(-11em);
        background-color: #0065fc;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 3.75em;
        width: 4em;
        border: none;
        border-radius: 0 10px 10px 0;
        color: white;
    }
    .gps{
    padding: 0 5px;
    }
}